@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.5rem;
    --warning: 38 92% 50%;
    --warning-foreground: 48 96% 89%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 210 40% 98%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.5rem;
    --warning: 38 92% 50%;
    --warning-foreground: 48 96% 89%;
  }
}

/* Estilos globais para o modo escuro */
body {
  background-color: #2f3136; /* Fundo cinza escuro */
  color: #ffffff; /* Cor do texto */
  overflow-x: hidden; /* Impede o overflow horizontal */
}

.container {
  background-color: #2f3136; /* Fundo do container */
  width: 100%; /* Ocupa toda a largura da tela */
  max-width: 600px; /* Define uma largura máxima para o contêiner */
  height: 100vh; /* Ocupa toda a altura da tela */
  margin: 0 auto; /* Centraliza o contêiner horizontalmente */
  padding: 0; /* Remove padding */
  box-sizing: border-box; /* Inclui padding e borda na largura total */
  display: flex; /* Usar flexbox para centralizar o conteúdo */
  align-items: center; /* Centraliza verticalmente */
  justify-content: center; /* Centraliza horizontalmente */
  overflow: hidden; /* Impede qualquer overflow */
  border-left: 5px solid black; /* Borda preta à esquerda */
  border-right: 5px solid black; /* Borda preta à direita */
}

input {
  background-color: #40444b; /* Fundo dos inputs */
  color: #ffffff; /* Cor do texto dos inputs */
  border: 1px solid #72767d; /* Borda dos inputs */
}

input::placeholder {
  color: #b9bbbe; /* Cor do placeholder */
}

button {
  background-color: #7289da; /* Cor do botão */
  color: #ffffff; /* Cor do texto do botão */
}

button:hover {
  background-color: #5b6eae; /* Cor do botão ao passar o mouse */
}
